# Copyright (c) 2022 Duccio Breschi
# SPDX-License-Identifier: MIT

if SHIELD_SWEPT_RIGHT

config ZMK_KEYBOARD_NAME
    default "Charybdis"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if HIELD_SWEPT_LEFT || SHIELD_SWEPT_RIGHT

config ZMK_SPLIT
    default y
config ZMK_BLE
	default y

config I2C
	default y
      
config ZMK_POINTING
	default y
endif
